.div-body
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /*  background: #18191f;  */
}
.J-ul
{
  position: relative;
  display: flex;
  margin: 10px 0;
}
.J-ul li
{
  position: relative;
  list-style: none;
}
.J-ul li a
{
  padding-top: 15px;
  display: block;
  width: 120px;
  height: 67px;
  background: #18191f;
  line-height: 55px;
  text-align: center;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: -2px -2px 3px rgba(255,255,255,0.05),
    3px 3px 3px rgba(0,0,0,0.2);
}
.J-ul li a .fa
{
  font-size: 54px;
  color: #ccc
}
.J-ul li a:hover .fa
{
  color: #0099ff;
  text-shadow: 0 0 15px #0099ff;
  opacity: 666;
}
